@using ViewModel;
@model EmployeeVM
@{
    ViewData["Title"] = "Edit Employee";
}

<h3>Update Employee Information</h3>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label for="Name" class="control-label col-md-2">Name</label>
                    <div class="col-md-5">
                        <input type="text" id="Name" class="form-control" value="@Model.Name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="BirthDate" class="control-label col-md-2">Birth Date</label>
                    <div class="col-md-5">
                        <input type="date" id="BirthDate" class="form-control" value="@Model.BirthDate.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="TIN" class="control-label col-md-2">TIN</label>
                    <div class="col-md-5">
                        <input type="text" id="TIN" class="form-control" value="@Model.TIN" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="EmployeeType" class="control-label col-md-2">Employee Type</label>
                    <div class="col-md-5">
                        @*@{
            List<SelectListItem> empType = new List<SelectListItem>();
            empType.Add(new SelectListItem
            {
                Text = "Regular",
                Value = "1",
                Selected = Model.EmployeeType == 1 ? true : false
            });

            empType.Add(new SelectListItem
            {
                Text = "Contractual",
                Value = "2",
                Selected = Model.EmployeeType == 2 ? true : false
            });
        }
        @Html.DropDownListFor(x => x.EmployeeType, empType, "- Please Select EmployeeType -", new { @class = "form-control", @id = "EmployeeType" })*@
                        @Html.DropDownList("EmployeeType", (IEnumerable<SelectListItem>)ViewBag.EmployeeType, new { @class = "form-control", id = "EmployeeType" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <button type="submit" id="Save" class="btn btn-success" onclick="return false;" style="float: right;">Update</button>
                    <a href='@Url.Action("Index")' class="btn btn-outline-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#TIN").mask("000-000-000");

            $("#Save").click(function () {
                if ($("#Name").val() == "") {
                    toastr.warning("Name is requried field. Please enter name.");
                    return;
                }
                if ($("#BirthDate").val() == "") {
                    toastr.warning("Birth date is requried field. Please enter birth date.");
                    return;
                }
                if ($("#TIN").val() == "") {
                    toastr.warning("TIN is requried field. Please enter TIN.");
                    return;
                }
                if ($("#EmployeeType").val() == "") {
                    toastr.warning("Employee type is requried field. Please select employee type.");
                    return;
                }

                if (confirm("Are you sure you want to save?")) {
                    var token = $('[name=__RequestVerificationToken]').val();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("UpdateEmployee")',
                        data: {
                            EmployeeID: '@Model.EmployeeID',
                            Name: $("#Name").val(),
                            BirthDate: $("#BirthDate").val(),
                            TIN: $("#TIN").cleanVal(),
                            EmployeeType: $("#EmployeeType").val()
                        },
                        dataType: 'JSON',
                        success: function (data) {
                            if (data == "Success") {
                                toastr.success("Successfully Saved");
                            }
                            else {
                                toastr.error("Error saving data");
                            }
                        }
                    });
                }
            });
        });
    </script>
}